# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
**/node_modules/
.turbo/
**/.turbo/

# Expo
.expo/
**/.expo/
dist/
**/dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
google-services.json
GoogleService-Info.plist
**/google-services.json
**/GoogleService-Info.plist

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

# typescript
*.tsbuildinfo
**/*.tsbuildinfo

app-example

# generated native folders
/ios
/android
.vercel
